<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Calendar</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'dojobites_app/css/styles.css' %}"media="screen" title="no title"  charset="utf-8">
  </head>
  <body>
    <header>
        <h1>Dojo Bites Calendar</h1>
        <div class="nav_bar">
            <h4><a href="{% url 'bites:index' %}">Where to Eat?</a></h4>
            <h4><a href="#">What's Nearby?</a></h4>
            <h4><a href="{% url 'bites:calendar' %}">My Calendar</a></h4>
            <h4><a href="#">My Profile</a></h4>
            <h4><a href="{% url 'bites:new' %}">Suggest a Restaurant</a></h4>
            <a href="{%url 'users:logout' %}"><button>Logout</button></a>
        </div>
    </header>
    <form class="" action="{% url 'bites:join' %}" method="post">
      Choose your date: <input type="date" name="date" value="">
      <select class="" name="restaurant">
        <option value="" disabled selected>Restaurant</option>
        {% if restaurants %}
          {% for restaurant in restaurants %}
            <option value="{{restaurant.id}}">{{restaurant.name}}</option>
          {% endfor %}
        {% endif %}
      </select>
      <input type="submit" name="submit" value="Choose">
    </form>
  </body>
</html>
