<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Dojo Bites</title>
    <!-- <script src="../../static/dojobites_app/js/jquery-3.1.1.min.js"></script> -->
    <link href="https://fonts.googleapis.com/css?family=Comfortaa|Roboto" rel="stylesheet">
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'dojobites_app/css/styles.css' %}"media="screen">
</head>
<body>
    <div id="container">
        <header>
            <h1>Dojo Bites</h1>
            <h2>Welcome! {{ user.first_name|title }}</h2>
            <div class="nav_bar">
                <h4><a href="{% url 'bites:index' %}">Where to Eat ?</a></h4>
                <h4><a href="{% url 'bites:new' %}">Suggest a Restaurant</a></h4>
                <h4><a href="{% url 'bites:calendar' %}">Make a Choice</a></h4>
                <h4><a href="{% url 'bites:profile' %}">My Profile</a></h4>
                <h4><a href="{%url 'users:logout' %}">Logout</a></h4>
            </div>
        </header>
        <form id="join" action="/bites/join" method="post"> {% csrf_token %}
            <p>Choose your date</p>
            <input type="date" name="date" value="">
            <p>Choose restaurant</p>
            <select name="restaurant">
                <option value=""></option>
                {% if restaurants %}
                    {% for restaurant in restaurants %}
                        <option value="{{ restaurant.id }}">{{ restaurant.name }}</option>
                    {% endfor %}
                {% endif %}
            </select>
            <button type="submit">Choose</button>
        </form>
        <form id="join_random" action="/bites/random" method="post"> {% csrf_token %}
            <h3>Can't pick a restaurant?</h3>
            <p>Choose your date</p>
            <input type="date" name="date" value="">
            <button type="submit">Surprise me!</button>

        </form>
        {% if messages %}
        <ul class='messages'>
            {% for message in messages %}
            <li  {% if message.tags %}class="{{message.tags}}"{% endif %}>{{message}}</li>
            {% endfor %}
        </ul>
        {% endif %}
    </div>
</body>
</html>
