{% if choices %}
{% for choice in choices %}
<form id="choice" action="{% url 'bites:show_rest' %}" method="post"> {% csrf_token %}
    <label>Restaurant:</label>
    <select id="rest" name="choice">
        <option value=""></option>
        {% for choice in choices %}
            <option value="{{ choice.id }}">{{ choice.restaurant.name|title }}</option>
        {% endfor %}
    </select>
</form>
<div id="user">
    {% for choice in choices %}
    <ul>
        <li>--------------{{ forloop.counter }}---------------- {% if user not in choice.users.all %}<button id="join"  value="{{ choice.id }}">Wanna Join?</button>{% else %}<button id="unjoin"  value="{{ choice.id }}">Unjoin group</button>{% endif %}</li>
        <li>Restaurant: {{ choice.restaurant.name|title }}</li>
        <li>Rating: {{ choice.restaurant.rating }}</li>
        <li>Location: {{ choice.restaurant.location }}</li>
        <li>Total user: {{ choice.num_users }} person{{ choice.num_users|pluralize }}</li>
    </ul>
    {% endfor %}
</div>
{% endfor %}
{% endif %}
