{% if restaurants %}
<form id="rest" action="{% url 'bites:show_rest' %}" method="post"> {% csrf_token %}
    <label>Restaurant:</label>
    <select id="rest" name="restaurant">
        <option value=""></option>
        {% for restaurant in restaurants %}
            <option value="{{ restaurant.id }}">{{ restaurant.name|title }}</option>
        {% endfor %}
    </select>
</form>
<div id="user">
    {% for restaurant in restaurants %}
    <ul>
        <li>--------------{{ forloop.counter }}---------------- {% if join %}<button id="join"  title="{{ restaurant.id }}">Wanna Join?</button>{% endif %}</li>
        <li>Restaurant: {{ restaurant.name|title }}</li>
        <li>cuisine: {{ restaurant.cuisine|title }}</li>
        <li>Description: {{ restaurant.description }}</li>
        <li>Location: {{ restaurant.location }}</li>
        <li>Total user: {{ restaurant.user_count }} person{{ restaurant.user_count|pluralize }}</li>
    </ul>
    {% endfor %}
</div>
{% endif %}
