<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Dojo Bites</title>
    <script src="../../static/dojobites_app/js/jquery-3.1.1.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Comfortaa|Roboto" rel="stylesheet">
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'dojobites_app/css/styles.css' %}" media="screen">
    <link rel="icon" href="{% static 'dojobites_app/images/favicon.ico' %}">
    <script src="{% static 'dojobites_app/js/app.js' %}" charset="utf-8"></script>
</head>
<body>
    <div id="container">
        <header>
            <h1>Dojo Bites</h1>
            <h2>Welcome! {{ user.first_name|title }}</h2>
            <div class="nav_bar">
                <h4><a href="{% url 'bites:index' %}">Where to Eat ?</a></h4>
                <h4><a href="{% url 'bites:new' %}">Suggest a Restaurant</a></h4>
                <h4><a href="{% url 'bites:calendar' %}">Make a Choice</a></h4>
                <h4><a href="{% url 'bites:profile' %}">My Profile</a></h4>
                <h4><a href="{%url 'users:logout' %}">Logout</a></h4>
            </div>
        </header>
        <main>
            <div id="voting">
                <div id="choice">
                    <form id="date" action="{% url 'bites:show_choice' %}" method="post"> {% csrf_token %}
                        <label>Select a Date: &nbsp;&nbsp;</label>
                        <input id="date" name="date" type="date">
                    </form>
                    <div id="results"></div>
                </div>
                <div id="directions">
                    <!-- <h3>Comments:</h3>
                    {% if not comments %}
                        <h5>Be the first to write a comment!</h5>
                    {% else %}
                        <ul class='comments'>
                        {% for comment in comments %}
                            <li class='comment'>{{comment.user.first_name}} says {{comment.content}}<br></li>
                        {% endfor %}
                        </ul>
                    {% endif %}
                    <form action="{% url 'bites:comment' %}" method="POST"> {% csrf_token %}
                        <input type="text" name="content">
                        <input type="submit" value="Submit">
                    </form> -->
                </div>
                <table id="rest" width="750">
                    <thead>
                        <th width="200">Name</th>
                        <th width="60">Rating</th>
                        <th width="380">Location</th>
                        <th width="100">Actions</th>
                    </thead>
                    {% if restaurants %}
                        {% for restaurant in restaurants %}
                            <tr>
                                <td><a href="{% url 'bites:details' restaurant.id %}">{{restaurant.name|title}}</a></td>
                                <td>{{restaurant.rating}}</td>
                                <td>{{restaurant.location|title}}</td>
                                <td><span class="direct" id="{{ restaurant.id }}">Directions</span></td>
                                <!-- {% for upcoming in upcoming %}
                                    {% if upcoming.restaurant.id == restaurant.id %}
                                        <td>{{upcoming.date}}</td>
                                    {% endif %}
                                {% endfor %} -->
                            </tr>
                        {% endfor %}
                    {% endif%}
                </table>
            </div> <!-- end of voting -->
        </main><!-- end main_content -->
        {% if messages %}
        <ul class='messages'>
            {% for message in messages %}
                <li  {% if message.tags %}class="{{message.tags}}"{% endif %}>{{message}}</li>
            {% endfor %}
        </ul>
        {% endif %}
    </div>
</body>
</html>
