<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Dojo Bites</title>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="../../static/dojobites_app/js/jquery-3.1.1.min.js"></script>

    {% load staticfiles %}

    <link rel="stylesheet" href="{% static 'dojobites_app/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'dojobites_app/css/styles.css' %}"media="screen" title="no title"  charset="utf-8">
    <script>
        $(document).ready(function() {
            $('input#date').change(function() {
                var date = $(this).val();
                if(date)  update_date();
                else  $('div#results').html('');
            })
            $('div#results').on('change', 'select#rest', function() {
                var rest = $(this).val();
                var date = $('input#date').val();
                if(rest) {
                    var serialized =  $('form#rest').serialize()+'&date='+date;
                    $.ajax({
                        method : 'post',
                        url : $('form#rest').attr('action'),  // '/bites/show/restaurant'
                        data : serialized,
                        success : function(resp){
                                      $('div#user').html(resp);
                                      $('button#join').attr("title", rest);
                                  }
                    })
                }
                else  update_date();
            })
            $('div#results').on('click', 'button', function() {
                var rest_id =  $('button#join').attr("title");
                var date =  $('input#date').val();
                var url = "/bites/join/"+date+"/"+rest_id;
                console.log("URL:", url);
                $.ajax({
                    method : 'get',
                    url : url,
                    // data : serialized,
                    success : function(resp){
                                console.log("Response:", resp);
                              }
                })

            })

            function update_date() {
                $.ajax({
                    method : 'post',
                    url : $('form#date').attr('action'),  // '/bites/show/choice'
                    data : $('form#date').serialize(),
                    success : function(resp){
                        $('div#results').html(resp);
                    }
                })
            }
            function joinConfirm() {
                if (!confirm("Confirm Join?")) {
                    window.event.returnValue = false;
                }
            }
        })
    </script>
  </head>

<body>
      <div>
        <header>
            <h1>Dojo Bites</h1>
            <div class="nav_bar">
                <h4><a href="{% url 'bites:index' %}">Where to Eat?</a></h4>
                <h4><a href="#">What's Nearby?</a></h4>
                <h4><a href="{% url 'bites:calendar' %}">My Calendar</a></h4>
                <h4><a href="#">My Profile</a></h4>
                <h4><a href="{% url 'bites:new' %}">Suggest a Restaurant</a></h4>
                <h4><a href="{%url 'users:logout' %}">Logout</a></h4>
            </div>
        </header>
        {% if messages %}
        <ul class='messages'>
            {% for message in messages %}
                <li  {% if message.tags %}class="{{message.tags}}"{% endif %}>{{message}}</li>
            {% endfor %}
        </ul>
        {% endif %}
            <div id="background"
            <main id="main" class="container fill">
                <h3>Hello {{ user.first_name|title }}! Would you like to join a group?</h3>
                <div class="row" id="middle">
                    <div id="voting" class="col-lg-3">
                        <div id="choice">
                            <form id="date" action="{% url 'bites:show_choice' %}" method="post"> {% csrf_token %}
                                <label>Select a Date:</label>
                                <input id="date" name="date" type="date">
                            </form>
                            <div id="results"></div>
                        </div>
                    </div> <!-- end of voting -->
                        <div id="comments" class="col-lg-3">
                            <h3 id="comments_h3">Comments:</h3>
                            {% if not comments %}
                                <h5>Be the first to write a comment!</h5>
                            {% else %}
                                <ul class='comments'>
                                {% for comment in comments %}
                                    <li class='comment'>{{comment.user.first_name}} says {{comment.content}}<br></li>
                                {% endfor %}
                                </ul>
                            {% endif %}
                            <form action="{% url 'bites:comment' %}" method="POST"> {% csrf_token %}
                                <input type="text" name="content">
                                <input type="submit" value="Submit">
                            </form>
                        </div>
                        <div id="table" class="col-lg-3">
                            <table>
                                <thead>
                                    <th>Name:</th>
                                    <th>Rating:</th>
                                    <th>Location:</th>
                                    <th>Actions:</th>
                                </thead>
                                {% if restaurants %}
                                    {% for restaurant in restaurants %}
                                        <tr>
                                            <td><a href="{% url 'bites:details' restaurant.id %}">{{restaurant.name|title}}</a></td>
                                            <td>{{restaurant.rating}}</td>
                                            <td>{{restaurant.location|title}}</td>
                                            <td><a href="{% url 'bites:join' %}">Join</a> <a href="{% url 'bites:unjoin' restaurant.id %}">Unjoin</a></td>
                                        </tr>
                                    {% endfor %}
                                {% endif%}
                            </table>
                        </div> <!-- end of table -->
                    </div>
            </main> <!-- end main_content -->
        </div>

    </div>
</body>
</html>
