<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>DojoBites Add Restaurants</title>
</head>
<body>
    <form action="" method="post">
        <p>Name:</p>
        <input type="text" name="name">
        <p>Description:</p>
        <textarea name="description" rows="8" cols="40"></textarea>
        <p>Cuisine:</p>
        <select name="cuisine">
            <option value="american">American</option>
            <option value="chinese">Chinese</option>
            <option value="mexican">Mexican</option>
            <option value="japanese">Japanese</option>
            <option value="korean">Korean</option>
            <option value="vietnamese">Vietnamese</option>
        </select>
        <p>Takeout:</p>
        <input type="checkbox" name="takeout">Takeout allowed
        <button type="submit">Submit</button>
    </form>
</body>
</html>
