<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Dojo Bites</title>
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
    <script>
        $(function() {
            $("#accordion").accordion();
        });
    </script>
    <link href="https://fonts.googleapis.com/css?family=Comfortaa|Roboto" rel="stylesheet">
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'dojobites_app/css/styles.css' %}" media="screen" title="no title" charset="utf-8">
</head>
<body>
    <div id="container">
        <header>
            <h1>Dojo Bites</h1>
            <h2>Welcome! {{ u.first_name|title }}</h2>
            <div class="nav_bar">
                <h4><a href="{% url 'bites:index' %}">Where to Eat ?</a></h4>
                <h4><a href="{% url 'bites:new' %}">Suggest a Restaurant</a></h4>
                <h4><a href="{% url 'bites:calendar' %}">Make a Choice</a></h4>
                <h4><a href="{% url 'bites:profile' %}">My Profile</a></h4>
                <h4><a href="{%url 'users:logout' %}">Logout</a></h4>
            </div>
        </header>
        <div id="user">
            <p><b>Name:</b> &nbsp;&nbsp;{{ u.first_name|title }} {{ u.last_name|title }}</p>
            <p><b>Email:</b>&nbsp;&nbsp; {{ u.email }}</p>
        </div>
        <main id="profile">
        {% if not choices %}
            <h3 id="warn">You haven't gone anywhere for lunch yet! Would you like to go <a href="{% url 'bites:calendar' %}">somewhere</a>?</h3>
        {% else %}
            <div id="accordion">
                {% for choice in choices %}
                <h3>{{choice.date|date:'l, F d, Y'}}</h3>
                <div>
                    <h3>{{choice.restaurant.name|title}}</h3>
                    <p>{{choice.restaurant.location}}</p>
                    {% if choice.users.all|length > 1 %}
                        <p>You're going with:</p>
                        <ul>
                            {% for user in choice.users.all %}
                                {% if user != u %}
                                    <li>{{user.first_name|title}} {{user.last_name|title}}</li>
                                {% endif %}
                            {% endfor %}
                        </ul>
                    {% endif %}
                </div>
                {% endfor %}
            </div>
        {% endif %}
        </main>
    </div>
</body>
</html>
