<ul>
    <li>Name: {{choice.restaurant.name|title }}</li>
    <li>Rating: {{ choice.restaurant.rating }}</li>
    <li>Location: {{ choice.restaurant.location }}</li>
    <li>Joined users: </li>
    <li>
        <ol>
            {% for user in choice.users.all|dictsort:'first_name' %}
            <li>{{ user.first_name|title }} {{ user.last_name|title }}</li>
            {% endfor %}
        </ol>
    </li>
    <li>{% if user not in choice.users.all %}<button id="join" title="{{ choice.id }}">Wanna Join?</button>{% endif %}</li>
</ul>
