<ul>
    <li id="rest">{{ choice.restaurant.name|title }}</li>
    <li><span>Rating:&nbsp;&nbsp;</span>{{ choice.restaurant.rating }}</li>
    <li><span>Location:&nbsp;&nbsp;</span>{{ choice.restaurant.location }}</li>
    <li><span>Who Joined:&nbsp;&nbsp;</span></li>
    <li>
        <ol>
            {% for user in choice.users.all|dictsort:'first_name' %}
            <li>{{ user.first_name|title }} {{ user.last_name|title }}</li>
            {% endfor %}
        </ol>
    </li>
    <li>{% if valid %}<button id="join" title="{{ choice.id }}">Join?</button>{% endif %}{% if user in choice.users.all %}<button id="unjoin" title="{{ choice.id }}">Unjoin?</button>{% endif %}
    </li>
</ul>
