* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /*font-family: arial;*/
    font-family: fantasy;
}
header{
    padding: 20px 0px 20px 0px;
    background-color: #5F7EC6;
    /*border-bottom: 4px solid #FFF3BA;*/
}

header h1{
    color: white;
    font-weight: 600;
}

.nav_bar{
    border-bottom: 2px solid grey;
    border-top: 2px solid grey;
    justify-content: space-around;
    display: inline-flex;
    width: 100%;
    background-color: #FFE66B;
}
header h4{
    margin: 10px;
}
header a{
    color: black;
}
/*body{
    background-color: #264A9C;
}*/
main{
    width:100%;
    background-color: #FFF3BA;
}
#background{
    background-color: #FFF3BA;
    height: 100%;
    min-height: 300px;
    padding: 5px 10px 10px 10px;
}
h1{
    margin: 0px;
}
body{
    background-color: #5F7EC6;
}


#user li{
    margin-left: 10px;
}

#comments{
    margin-bottom: 20px;
}

.row h3{
    margin-top: 0px;
}
<<<<<<< HEAD

        form#date input {
            font-size: 1em;
        }
        div#choices {
            /*height: 350px;*/
            overflow: auto;
        }
            form#date input {
                font-size: 1em;
            }
            form#choice select {
                font-size: 1em;
                width: 160px;
                height: 25px;
                margin-top: 15px;
                margin-bottom: 10px;
            }
            div#user {
                height: 300px;
                overflow: auto;
            }
                #user ul {
                    list-style: none;
                }
                    #user ul li {
                        margin-left: 30px;
                    }
    #comments{

        /*outline: 1px dashed gray;*/
    }
    #comments_h3{
        margin-top: 0px;
    }
    #main h3{
        margin-top: 0px;
    }
    #main{
        padding-top: 20px;
        padding-bottom: 20px;
    }
    #table{
        border-collapse: collapse;
        text-align: center;
    }
        #table thead{
            border-bottom: black 2px solid;
            padding: 10px;
        }
            #table th{
                margin: 10px;
                height: 40px;
                padding: 0px 10px 5px 10px;
                border-bottom: 1px black solid;
            }
            #table td{
                height: 30px;
                border-bottom: 1px black solid;
            }
.error {
  color: red;
}
.success {
  color: green;
}
ul.messages {
  list-style: none;
}
