* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: arial;
}
.nav_bar{
    border: 2px solid black;
    justify-content: space-around;
    display: inline-flex;
    width: 100%
}
header h4{
    margin: 10px;
}
header button{
    margin: 10px;
}
main{
    border: 1px solid black;
    margin-top: 10px;
    width:100%;
}
#voting{
    width: 1300px;
    max-height: 400px;
    border: 1px solid black;
    margin: 20px;
    padding: 5px 10px 5px 10px;
}
    #choice, #comments, table {
        display: inline-block;
        vertical-align: top;
        margin-right: 50px;
    }
    #choice {
        width: 300px;
    }
        form#date input {
            font-size: 1em;
        }
        div#choices {
            height: 350px;
            overflow: auto;
        }
            #choices ul {
                list-style: none;
            }
                #choices ul>li {
                    margin-left: 30px;
                }
                    ol>li {
                        margin-left: 30px;
                    }
    #comments{
        min-height: 400px;
        outline: 1px dashed gray;
    }
    table{
        border-collapse: collapse;
        text-align: center;
    }
        thead{
            border-bottom: black 2px solid;
        }
            th{
                height: 40px;
                padding: 5px 10px;
                border-bottom: 1px black solid;
            }
            td{
                height: 30px;
                border-bottom: 1px black solid;
            }
.error {
  color: red;
}
.success {
  color: green;
}
ul#messages {
  list-style: none;
}
